:root {
  --main-cl: #101010;
  --list-cl: #efefef;
  --chat-cl: #dedede;
  --sub-cl: #ffffff;
  --txt-normal: #000000;
  --txt-light: #7a7a7a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-cl: #101010;
    --list-cl: #1f1f1f;
    --chat-cl: #101010;
    --sub-cl: #2a2a2a;
    --txt-normal: #ffffff;
    --txt-light: #bebebe;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
