#root {
  display: flex;
}
nav {
  background-color: white;
  height: 100vh;
}
.navbar{
  flex: 1;
  background-color: black;
}
.whole{
  flex: 5;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}
#postcard{
  width: 350px;
  height: 400px;
}